{% extends 'baselogin.html' %}
{% load static %}

<body >

{% block body %}
    



	<!-- === Content Part === -->
	<div class="container-fluid">
		<div class="row equal-height-columns">
			<div class="col-md-6 col-sm-6 hidden-xs image-block equal-height-column"></div>

			<div class="col-md-6 col-sm-6 form-block equal-height-column">
				<a href="/">
					<img src="{% static 'assets/img/logo-dark1.png' %}" alt="">
				</a>
				<h2 class="margin-bottom-30">Login To Your Account</h2>
				<form method="post" action=".">{% csrf_token %}
					<div class="login-block">
						<div class="input-group margin-bottom-20">
							<span class="input-group-addon rounded-left"><i class="icon-user color-blue"></i></span>
							<input type="id_username" class="form-control rounded-right" placeholder="Username">
						</div>

						<div class="input-group margin-bottom-20">
							<span class="input-group-addon rounded-left"><i class="icon-lock color-blue"></i></span>
							<input type="id_password" class="form-control rounded-right" placeholder="Password">
						</div>

						<div class="checkbox">
							<ul class="list-inline">
								<li>
									<label>
										<input type="checkbox"> Remember me
									</label>
								</li>

								<li class="pull-right">
									<a href="#">Forgot password?</a>
								</li>
							</ul>
						</div>

						<div class="row margin-bottom-70">
							<div class="col-md-12">
								<button type="submit" class="btn-u btn-u-blue btn-block rounded">Sign In</button> <input type="hidden" name="next" value="/stdproject" />
							</div>
						</div>

								{% if form.errors  %}									
									<div class="alert alert-info fade in alert-dismissable">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>Your username and password didn't match. Please try again.
									</div>									
								{% endif %}
									{% if next %}
   										 {% if user.is_authenticated %}
								<div class="alert alert-info fade in alert-dismissable">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>Your account doesn't have access to this page. To proceed, please login with an account that has access.
									</div>
									 {% else %} 	
									<div class="alert alert-info fade in alert-dismissable">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>Please login to see this page.
									</div>	
									{% endif %}
								{% endif %}


    
						<div class="social-login text-center">
							<div class="or rounded-x">Or</div>
							<ul class="list-inline margin-bottom-20">
								<li>
									<button class="btn rounded btn-lg btn-facebook">
										<i class="fa fa-facebook"></i> Facebook Sign in
									</button>
								</li>
								<li>
									<button class="btn rounded btn-lg btn-twitter">
										<i class="fa fa-twitter"></i> Twitter Sign in
									</button>
								</li>
							</ul>

							<!--=== Make sure to make a path that cant be guessed for this href ===-->
							<p>Don't have an account? <a href="/registration">Create New</a></p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div><!--/container-->
	<!--=== End Content Part ===-->

{% endblock %}