{% extends "base2.html" %}
{% load static %}


{% block content %}




		<!--=== Breadcrumbs v3 ===-->
		<div class="breadcrumbs-v3 img-v3 text-center">
			<div class="container">
				<h1></h1>
			</div><!--/end container-->
		</div>
		<!--=== End Breadcrumbs v3 ===-->



		<!--=== Parallax About Block ===-->
		<div class="shadow-wrapper">
					<div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
						<!-- Heading v1 -->
						<div class="heading heading-v1 margin-bottom-40">
							<h2>About our <span class="color-blue">Company</span></h2>
						</div>
					</div>
		</div>
		<div class="parallax-bg parallaxBg1">
			<div class="container content parallax-about">
				<div class="row">
					<div class="col-md-6">
						<div class="banner-info dark margin-bottom-10">
							<i class="rounded-x icon-bell"></i>
							<div class="overflow-h">
								<h3>Our mission</h3>
								<h4><p>To become Africa’s leading institute in technology. </p></h4>
							</div>
						</div>
						<div class="banner-info dark margin-bottom-10">
							<i class="rounded-x fa fa-magic"></i>
							<div class="overflow-h">
								<h3>Our vision</h3>
								<h4><p>To provide edge case solutions using state of the art technology and practices for all relevant stake holders.</p></h4>
							</div>
						</div>
						<div class="banner-info dark margin-bottom-10">
							<i class="rounded-x fa fa-thumbs-o-up"></i>
							<div class="overflow-h">
								<h3>At 2PiRi...</h3>
								<h4><p>we provide an environment for first class research to develop the highest quality products and services for our customers. We design,
									develop and document products and services to meet our customers specific and cooperate Technological needs.</p></h4>
							</div>
						</div>
						<div class="margin-bottom-20"></div>
					</div>
					<div class="col-md-6">
						<img class="wow rotateInDownRight img-responsive" src="{% static 'assets/img/mockup/imac.png' %}" alt="">
					</div>


				</div>
			</div><!--/container-->
		</div>
		<!--=== End Parallax About Block ===-->

		<!--=== Content Part ===-->
			<div class="row margin-bottom-10">
				<div class="col-sm-4">
					<div class="service-block service-block-default">
						<i class="icon-custom rounded icon-color-dark icon-line icon-badge"></i>
						<h2 class="heading-md">Purple Box</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus. At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service-block service-block-default">
						<i class="icon-custom rounded icon-color-dark icon-line icon-fire"></i>
						<h2 class="heading-md">Purple Box</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus. At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service-block service-block-default">
						<i class="icon-custom rounded icon-color-dark icon-line icon-directions"></i>
						<h2 class="heading-md">Aqua Box</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus. At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
					</div>
				</div>
			</div>
		</div>
		<!--=== End Content Part ===-->


		<!--=== Container Part ===-->
		<div class="container content">
			<div class="title-box-v2">
				<h2>Our Company <span class="color-blue">life</span></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>

			<div class="row margin-bottom-40">
				<!-- Begin Easy Block v2 -->
				<div class="col-md-3 col-sm-6 md-margin-bottom-20">
					<div class="simple-block">
						<img class="img-responsive img-bordered margin-bottom-10" src="assets/img/main/img3.jpg" alt="">
						<p>Pellentesque et erat ac massa cursus porttitor eget sed magna.</p>
					</div>
				</div>
				<!-- End Simple Block -->

				<!-- Begin Easy Block v2 -->
				<div class="col-md-3 col-sm-6 md-margin-bottom-20">
					<div class="simple-block">
						<img class="img-responsive img-bordered margin-bottom-10" src="assets/img/main/img4.jpg" alt="">
						<p>Pellentesque et erat ac massa cursus porttitor eget sed magna.</p>
					</div>
				</div>
				<!-- End Simple Block -->


				<!-- Begin Easy Block v2 -->
				<div class="col-md-3 col-sm-6 md-margin-bottom-20">
					<div class="simple-block">
						<img class="img-responsive img-bordered margin-bottom-10" src="assets/img/main/img16.jpg" alt="">
						<p>Pellentesque et erat ac massa cursus porttitor eget sed magna.</p>
					</div>
				</div>
				<!-- End Simple Block -->

				<!-- Begin Easy Block v2 -->
				<div class="col-md-3 col-sm-6 md-margin-bottom-20">
					<div class="simple-block">
						<img class="img-responsive img-bordered margin-bottom-10" src="assets/img/main/img7.jpg" alt="">
						<p>Pellentesque et erat ac massa cursus porttitor eget sed magna.</p>
					</div>
				</div>
				<!-- End Simple Block -->
			</div>

			<div class="row">
				<!-- Begin Easy Block v2 -->
				<div class="col-md-6 col-sm-6 md-margin-bottom-20">
					<div class="simple-block">
						<div class="embed-responsive embed-responsive-16by9 margin-bottom-10">
							<iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/67167840?title=0&amp;byline=0&amp;portrait=0"></iframe>
						</div>
					</div>
				</div>
				<!-- End Simple Block -->

				<!-- Begin Easy Block v2 -->
				<div class="col-md-6 col-sm-6 md-margin-bottom-20">
					<div class="simple-block">
						<div class="embed-responsive embed-responsive-16by9 margin-bottom-10">
							<iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/70528799"></iframe>
						</div>
					</div>
				</div>
				<!-- End Simple Block -->
			</div>
		</div><!--/container-->
		<!--=== Container Part ===-->

		<!--=== Meet Our Team ===-->
		<div class="parallax-team parallaxBg">
			<div class="container content">
				<div class="title-box-v2">
					<h2>Meet Our <span class="color-blue">Team</span></h2>
					<p>We all put our hand together to make . . . .</p>
				</div>

				<div class="row">
					<!-- Team v2 -->
					<div class="col-md-3 col-sm-6">
						<div class="team-v2">
							<img class="img-responsive" src="{% static 'assets/img/team/mannie.jpg' %}" alt="" />
							<div class="inner-team">
								<h3>Mannie A W Young</h3>
								<small class="color-blue">Co-Founder  -  CEO</small>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
								<hr>
								<ul class="list-inline team-social">
									<li>
										<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Team v2 -->

					<!-- Team v2 -->
					<div class="col-md-3 col-sm-6">
						<div class="team-v2">
							<img class="img-responsive" src="{% static 'assets/img/team/mike.jpg' %}" alt="" />
							<div class="inner-team">
								<h3>Michael A Young</h3>
								<small class="color-blue">Co-Founder  -  CFO</small>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
								<hr>
								<ul class="list-inline team-social">
									<li><a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Team v2 -->

					<!-- Team v2 -->
					<div class="col-md-3 col-sm-6">
						<div class="team-v2">
							<img class="img-responsive" src="{% static 'assets/img/team/ronnie.jpg' %}" alt="" />
							<div class="inner-team">
								<h3>Aaron Y Young</h3>
								<small class="color-blue"> Co-Founder  -  CTO</small>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
								<hr>
								<ul class="list-inline team-social">
									<li>
										<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Team v2 -->

					<!-- Team v2 -->
					<div class="col-md-3 col-sm-6">
						<div class="team-v2">
							<img class="img-responsive" src="{% static 'assets/img/team/img5-md.jpg' %}" alt="" />
							<div class="inner-team">
								<h3>Tom-Tom</h3>
								<small class="color-blue">Chief Programmer</small>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
								<hr>
								<ul class="list-inline team-social">
									<li>
										<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
											<i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
												<i class="fa fa-google-plus"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- End Team v2 -->
					</div>
				</div>
			</div>
			<!--=== End Meet Our Team ===-->


					<!-- Owl Carousel v3 -->
					<div class="owl-carousel-style-v2 margin-bottom-50">
						<div class="headline"><h2>  Meet Our Partners</h2></div>
						<div class="owl-slider-v3">
							<div class="item">
								<img class="img-responsive" src="assets/img/clients2/baderbrau.png" alt="">
							</div>
							<div class="item">
								<img class="img-responsive" src="assets/img/clients2/fddw.png" alt="">
							</div>
						</div>
					</div>
					<!-- End Owl Carousel v3 -->


{% endblock %}
