{% extends "base.html" %}
{% load static %}
	
	
{% block content %}  					
	

<div class="container content-sm">
	<div class="text-center margin-bottom-50">
		<h2 class="title-v2 title-center">Welcome to our Site</h2>
	
		<p class="space-lg-hor"></h1>If you are going to use a <span class="color-blue">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-blue">this the first</span> true generator on the Internet.</h1></p>
	</div>

	<div class="row content-boxes-v4">
		<div class="col-md-4 md-margin-bottom-40">
			<i class="pull-left fa fa-lightbulb-o"></i>
			<div class="content-boxes-in-v4">
				<h2>Creative Ideas</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<a href="#">Learn More</a>
			</div>
		</div>
		<div class="col-md-4 md-margin-bottom-40">
			<i class="pull-left fa fa-flash"></i>
			<div class="content-boxes-in-v4">
				<h2>Excellent Features</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<a href="#">Learn More</a>
			</div>
		</div>
		<div class="col-md-4">
			<i class="pull-left fa fa-compress"></i>
			<div class="content-boxes-in-v4">
				<h2>Fully Responsive</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<a href="#">Learn More</a>
			</div>
		</div>
	</div>
</div>

<div class="bg-grey content-sm">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="responsive-video margin-bottom-30">
					<iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="title-v2">WATCH ABOUT US</h2>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
				<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p><br>
				<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
				<a href="#" class="btn-u">Purchase Now</a>
			</div>
		</div>
	</div>
</div>

<div class="container content-sm">
	<div class="row">
		<div class="col-sm-6 content-boxes-v3 content-boxes-v3-right sm-margin-bottom-30">
			<div class="margin-bottom-30">
				<i class="icon-custom icon-md rounded-x icon-bg-blue icon-line icon-trophy"></i>
				<div class="content-boxes-in-v3">
					<h2 class="heading-sm">Innovation Leader</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
				</div>
			</div>
			<div class="clearfix margin-bottom-30">
				<i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-directions"></i>
				<div class="content-boxes-in-v3">
					<h2 class="heading-sm">Best Solutions &amp; Approaches</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
				</div>
			</div>
			<div class="clearfix">
				<i class="icon-custom icon-md rounded-x icon-bg-blue icon-line icon-rocket"></i>
				<div class="content-boxes-in-v3">
					<h2 class="heading-sm">SEO &amp; Advertising</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
				</div>
			</div>
		</div>

		<div class="col-sm-6 content-boxes-v3">
			<div class="clearfix margin-bottom-30">
				<i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-bar-chart"></i>
				<div class="content-boxes-in-v3">
					<h2 class="heading-sm">Analysis &amp; Consulting</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
				</div>
			</div>
			<div class="clearfix margin-bottom-30">
				<i class="icon-custom icon-md rounded-x icon-bg-blue icon-line icon-badge"></i>
				<div class="content-boxes-in-v3">
					<h2 class="heading-sm">Quality Service &amp; Support</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
				</div>
			</div>
			<div class="clearfix">
				<i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-envelope"></i>
				<div class="content-boxes-in-v3">
					<h2 class="heading-sm">Email Marketing</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="bg-grey content-sm">
	<div class="container">
		<div class="row">
			<div class="col-md-6 md-margin-bottom-40">
				<h2 class="title-v2">Quotes</h2>
				<p>As a student and a learner, a simple short sentence can go a long way to brighten your day and 
					ignite a spark into your daily activity when digested subconsciously. So here are selected quotes from great man and women just for you</p>				
				<a href="quotes_page_1.html" class="btn-u btn-brd-hover btn-u-blue">View Quotes Page</a>
			</div>
			<div class="col-md-6">				
				<div class="carousel slide carousel-v1" id="myCarousel">
								<div class="carousel-inner">
									<div class="item active">
										<img alt="" src="{% static 'assets/img/mockup/mockup1.png' %}">
										<div class="carousel-caption">
										</div>
									</div>
									<div class="item">
										<img alt="" src="{% static 'assets/img/quotes/quote5.jpg' %}">
										<div class="carousel-caption">
										</div>
									</div>
									<div class="item">
										<img alt="" src="{% static 'assets/img/quotes/quote6.jpg' %}">
										<div class="carousel-caption">
										</div>
									</div>
									<div class="item">
										<img alt="" src="{% static 'assets/img/quotes/quote9.jpg' %}">
										<div class="carousel-caption">
										</div>
									</div>
									<div class="item">
										<img alt="" src="{% static 'assets/img/quotes/quote10.jpg' %}">
										<div class="carousel-caption">
										</div>
									</div>
								</div>

								<div class="carousel-arrow">
									<a data-slide="prev" href="#myCarousel" class="left carousel-control">
										<i class="fa fa-angle-left"></i>
									</a>
									<a data-slide="next" href="#myCarousel" class="right carousel-control">
										<i class="fa fa-angle-right"></i>
									</a>
								</div>
							</div>
				
				
			</div>			
		</div>
	</div>
</div>


	<div class="bg-grey content-sm">
		<div class="container text-center">
			<h2 class="title-v2 title-center">FIND MORE ABOUT US</h2>
			<p class="space-lg-hor">At 2pi, we strive for excellence by providing quality services to our customers in good time. 
			This leads us to provide our services in flexible and affordable packages. These these packages are designed to give our customers options depending on their needs. 
			We employ the 3D model to our service delivery. The 3D model is divided into the following: </p><br>
			<a href="about.html" class="btn-u btn-brd  btn-brd-hover btn-u-dark ">Read About Us</a>
			<a href="#" class="btn-u btn-brd-hover btn-u-blue">View Our Works</a>
		</div>
	</div>


{% endblock %}