{% extends "basevid.html" %}
{% load static %}

{% block content %}
<div class='row'>
    <div class='col-sm-12'>
        <div class="tag-box tag-box-v7 margin-bottom-40">

            <!--=== Breadcrumbs ===-->
            <div class="breadcrumbs">
              <div class="container">
                <h1 class="pull-left">Categories</h1>
                  <h4><ul class="pull-right breadcrumb">
                      <li><a href="{% url 'courses:list' %}">Courses</a></li>
                      <li class="active">Categories</li>
                </ul></h4>
              </div>
            </div><!--/breadcrumbs-->
            <!--=== End Breadcrumbs ===-->
        </div>

    </div>



    		<!--=== Container Part ===-->
    		<div class="bg-grey">

    			<div class="container content-md">
    				<ul class="row list-row margin-bottom-30">
              {% for item in object_list %}
    					<li class="col-md-4 md-margin-bottom-30">

    						<div class="content-boxes-v3 block-grid-v1 rounded">
    							<img class="pull-left rounded-x block-grid-v1-img" src="{% static 'assets/img/testimonials/logo.png' %}" alt="">
    							<div class="content-boxes-in-v3">

    								<h3><a href="{{ item.get_absolute_url }}" class="list-group-item">
                            {{ item.title }}</a></h3>


    								<ul class="list-inline block-grid-v1-add-info">
                      {% if item.courses_length > 0 %}
                      <span class="badge rounded-2x badge-blue">{{ item.courses_length }} Courses{% if courses_length > 1 %}s{% endif %}</span>
                      {% endif %}


                      {% if item.primary_category.all.exists %}
                      <span class="badge rounded-2x badge-aqua">{{ item.primary_category.all.count }} Featured</span>
                      {% endif %}
              </a>
              {% if forloop.counter|divisibleby:5 %}
          </div></div><div class="col-sm-6"><div class="list-group">
              {% endif %}
    								</ul>
    							</div>
    						</div>
    					</li>  {% endfor %}
    				</ul>
    			</div>
    		</div>
</div>


{% endblock %}
