<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>2Pi Research Institute</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.png">
	

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
	

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-v6.css">
	<link rel="stylesheet" href="assets/css/footers/footer-v1.css">
	

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/brand-buttons/brand-buttons.css">
	<link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">	
	<link rel="stylesheet" href="assets/plugins/fancybox/source/jquery.fancybox.css">
	<!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css" type="text/css" media="screen"><![endif]-->
	

	
	<!-- CSS Page Style -->
	<link rel="stylesheet" href="assets/css/pages/page_invoice.css">

	
	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/blue.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/blue.css">	


	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">



</head>


		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Invoice</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="">Pages</a></li>  
					<li class="active">Invoice</li>
					<li><a href="website-student-profile.html">Account</a></li>
					<li><a href="website-student-billing.html">Billing</a></li>								
					<img src="pro_images/people/110/guy-5.jpg" alt="Mawy_7" class="img-circle" width="40" /> Mawy_7 
       
				</ul>
			</div><!--/container-->
		</div><!--/breadcrumbs-->
		<!--=== End Breadcrumbs ===-->

		<!--=== Content Part ===-->
		<div class="container content">
			<!--Invoice Header-->
			<div class="row invoice-header">
				<div class="col-xs-6">
					<img src="assets/img/logo-dark01.png" alt="">
				<!-- You also can use a title instead of image
				<h2 class="pull-left">Product Invoice</h2>
			-->
		</div>
		<div class="col-xs-6 invoice-numb">
			#123456789 / 20, October 2013
			<span>Auiderer facilis consectetur</span>
		</div>
	</div>
	<!--End Invoice Header-->

	<!--Invoice Detials-->
	<div class="row invoice-info">
		<div class="col-xs-6">
			<div class="tag-box tag-box-v3">
				<h2>Client Information:</h2>
				<ul class="list-unstyled">
					<li><strong>First Name:</strong> MR.MANNIE</li>
					<li><strong>Last Name:</strong> YOUNG</li>
					<li><strong>Country:</strong> NIGERIA</li>
					<li><strong>DOB:</strong> YYYY/MM/DD</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="tag-box tag-box-v3">
				<h2>Peyment Details:</h2>
				<ul class="list-unstyled">
					<li><strong>Bank Name:</strong> 123456789012</li>
					<li><strong>Account Number:</strong> 123456789012</li>
					<li><strong>SWIFT Code:</strong> 123DEMO45DEMO</li>
					<li><strong>V.A.T Reg #:</strong> 678DEMO45545</li>
				</ul>
			</div>
		</div>
	</div>
	<!--End Invoice Detials-->

	<!--Invoice Table-->
	<div class="panel panel-default margin-bottom-40">
		<div class="panel-heading">
			<h3 class="panel-title">Invoice Details</h3>
		</div>
		<div class="panel-body">
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
		</div>
		<table class="table table-striped invoice-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Item</th>
					<th class="hidden-sm">Description</th>
					<th>Quantity</th>
					<th>Unit Cost</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Keyboard</td>
					<td class="hidden-sm">At vero eos et accusamus etofficia mollitia</td>
					<td>252</td>
					<td>$52</td>
					<td>$18476</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Displays</td>
					<td class="hidden-sm">Verode eoset accusamus etofficia deserunt</td>
					<td>78</td>
					<td>$128</td>
					<td>$12047</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Phones</td>
					<td class="hidden-sm">Etquas molestias deexcepturi dasint</td>
					<td>16</td>
					<td>$450</td>
					<td>$7968</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Software</td>
					<td class="hidden-sm">Atofficia droeos etofficia taccusamus</td>
					<td>191</td>
					<td>$24</td>
					<td>$4099</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Speakers</td>
					<td class="hidden-sm">Dacusamus deserunt veroeoset vero eos</td>
					<td>65</td>
					<td>$119</td>
					<td>$9456</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!--End Invoice Table-->

	<!--Invoice Footer-->
	<div class="row">
		<div class="col-xs-6">
			<div class="tag-box tag-box-v3 no-margin-bottom">
				<address class="no-margin-bottom">
					25, Lorem Lis Street, Orange <br>
					California, US <br>
					Phone: +233 5469 98280 <br>
					Fax: +233 **** ***** <br>
					Email: <a href="mailto:contactus@2piri.com">contactus@2piri.com</a>
				</address>
			</div>
		</div>
		<div class="col-xs-6 text-right">
			<ul class="list-unstyled invoice-total-info">
				<li><strong>Sub - Total Amount:</strong> $109365</li>
				<li><strong>Discount:</strong> 14.8%</li>
				<li><strong>VAT ($6):</strong> $8371</li>
				<li><strong>Grand Total:</strong> $101486</li>
			</ul>
			<button class="btn-u sm-margin-bottom-10" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</button>
			<button class="btn-u">Submit The Invoice</button>
		</div>
	</div>
	<!--End Invoice Footer-->
</div><!--/container-->
<!--=== End Content Part ===-->



		
  
	<!--=== Footer Version 1 ===-->
	<div class="footer-v1">
		<div class="footer">
			<div class="container">
				<div class="row">
					<!-- About -->
					<div class="col-md-3 md-margin-bottom-40">
						<a href="home.html"><img id="logo-footer" class="footer-logo" src="assets/img/footer.png" alt=""></a>
						
					</div><!--/col-md-3-->
					<!-- End About -->

					<div class="col-md-3 md-margin-bottom-40">
						
						<ul class="list-unstyled link-list">							
							
						</ul>
					</div><!--/col-md-3-->

					<!-- Link List -->
					<div class="col-md-3 md-margin-bottom-40">
						<div class="headline"><h2>Useful Links</h2></div>
						<ul class="list-unstyled link-list">							
							<li><a href="#">Products and Services</a><i class="fa fa-angle-right"></i></li>
							<li><a href="about.html">About us</a><i class="fa fa-angle-right"></i></li>
							<li><a href="faq.html">FAQs</a><i class="fa fa-angle-right"></i></li>							
							<li><a href="contact us.html">Contact us</a><i class="fa fa-angle-right"></i></li>
							<li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
						</ul>
					</div><!--/col-md-3-->
					<!-- End Link List -->

					<!-- Address -->
					<div class="col-md-3 map-img md-margin-bottom-40">
						<div class="headline"><h2>Contact Us</h2></div>
						<address class="md-margin-bottom-40">
							04, 2PiRi Street,<br />
							Shusyen, Ghana <br />
							Phone: +233-(0)546998280 <br />
								   +233-(0)546764466 <br />
							
							Email: <a href="mailto:info@2piri.com" class="">info@2piri.com</a>
						</address>
					</div><!--/col-md-3-->
					<!-- End Address -->
				</div>
			</div>
		</div><!--/footer-->

		<div class="copyright">
			<div class="container">
				<div class="row">
							<div class="col-md-6">
								<p>
									2017 &copy; All Rights Reserved.
									<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
								</p>
							</div>

					
							<!-- Social Links -->
							<div class="col-md-6">
								<ul class="social-icons">
								
								<li><a href="https://web.facebook.com/2piRinstitute/" data-original-title="Facebook" class="rounded social_facebook"></a></li>
								<li><a href="#" data-original-title="Google Plus" class=".rounded social_googleplus"></a></li>
								<li><a href="#" data-original-title="Linkedin" class="rounded social_linkedin"></a></li>
								<li><a href="#" data-original-title="Feed" class=".rounded social_rss"></a></li>
								<li><a href="#" data-original-title="Skype" class="rounded social_skype"></a></li>
								<li><a href="#" data-original-title="Tumblr" class=".rounded social_tumblr"></a></li>
								<li><a href="https://twitter.com/2piRinstitute" data-original-title="Twitter" class="rounded social_twitter"></a></li>
								<li><a href="#" data-original-title="Youtube" class=".rounded social_youtube"></a></li>
								<li><a href="#" data-original-title="Instagram" class="rounded social_instagram"></a></li>
								
							</ul>
							</div>
							<!-- End Social Links -->
				</div>
			</div>
		</div><!--/copyright-->
	</div>
	<!--=== End Footer ===-->
	</div><!--/End Wrapepr-->

				
				
		
				
				
				

<!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		App.init();
		StyleSwitcher.initStyleSwitcher();
	});
</script>


</body>

</html>